.imges-section {
  width: 100%;
  padding-top: 1.5rem;
  gap: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.imge img {
  height: 20rem;
  width: 20rem;
  object-fit: center;
  padding: 8px;
}
.imge img:hover {
  transform: scale(1.05);
  transition: 1s;
}

.card {
  border-radius: 8px;
  box-shadow: -3px 4px 11px 2px rgba(143, 140, 140, 0.062);
  border: 1px solid gray;
  text-align: center;
  margin-top: 12px;
  transition: transform 0.5s;
}
/* .card:hover {
  background-color: red;
   transform: scale(1.2);
    border: 1px solid rebeccapurple;
} */
/* *******************details section*************** */
.container-1 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
 }
 
.img-details{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
 .container-2{
  height: 580px;
  width: 400px;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

 }
 .discription-section{
  text-align: center;
 border: 1px solid gray;
 border-radius: 12px;
 height: 230px;
 overflow: auto;
}
::-webkit-scrollbar {
  width: 0em;
}
.discription-section div{
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 30px;
  width: 100%;
  background-color: green;
}
.discription-section h4{
  color: #fff;
  font-size: x-large;
  font-weight: 600;
  
}
.discription-section p{
  font-size: medium;
  font-weight: 520;
  padding: 0px 10px;
}
/* *******************Counter Section*************** */

 button {
  padding: 10px 20px;
  background-color: #0052cc;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #3e8e41;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
.counter-container {
   display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* *******************Pop Up Section*************** */
.card-container {
  display: flex;
}
.card-1 {
  height: 650px;
  width: 50%;
  border: 1px solid gray;
}

.card-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-2 p {
  padding: 0 10%;
}

.add-item {
  height: 45px;
  width: 40%;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 10%;
}

.add-item div {
  cursor: pointer;
}

.btn {
  margin-top: 2%;
}

.btn button {
  border: none;
  color: white;
  padding: 12px 88px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
}

/* **************Carousel************* */

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* **************Add product Section************* */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  width: 350px;
  border: 2px solid #009aff;
  border-radius: 12px;
  background-color: #226ea0;
}
.heading {
  text-align: center;
  margin-top: 12px;
  color: white;
}
.input-block {
  padding: 5px 12px;
}
.input-block input {
  padding: 16px;
  border-radius: 35px;
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
  border: 0;
  outline: 0;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.btn {
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
}
.btn:hover{
  background-color: #3498db;
  color: #fff;
}
